.weather-card-row {
    display: flex;
    justify-content: space-between; 
    gap: auto;
    position: relative;
  }
  
  .weather-card {
    flex: 1;
    margin: 0 10px;
    min-width: 150px;
  }
  