.menuBar {
    display: flex;
    justify-content: space-around;
    background-color: lightgrey;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .menuItem {
    color: black;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    text-decoration: none;
  }
  
  .menuItem:hover {
    color: grey; 
  }

  .menuLogoItem {
    display: flex;
    align-items: center;
    mix-blend-mode: multiply;
  }

  .menubar-items-comntainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }